@model Product
@{
    Layout = "_SimpleLayout";
}

<div class="m-2" wrap="true">Inner Content</div>

<table class="table table-sm table-striped table-bordered">
    <tablehead bg-color="dark">Product Summary</tablehead>
    <tbody>
        <tr><th>Name</th><td highlight="true">@Model?.Name</td></tr>
        <tr><th bg-color="dark">Price</th><td>@Model?.Price.ToString("c")</td></tr>
        <tr><th>Category ID</th><td>@Model?.CategoryId</td></tr>
    </tbody>
</table>