@model Product
@{
    Layout = "_SimpleLayout";
}

<table class="table table-sm table-striped table-bordered">
    <tablehead bg-color="dark">Product Summary</tablehead>
    <tbody>
        <tr><td>Name</td><td>@Model?.Name</td></tr>
        <tr><td bg-color="dark">Price</td><td>@Model?.Price.ToString("c")</td></tr>
        <tr><td>Category ID</td><td>@Model?.CategoryId</td></tr>
    </tbody>
</table>