@typeparam RowType

<table class="table table-sm table-striped table-bordered">
    @if(Header != null)
    {
        <thead>@Header</thead>
    }
    <tbody>
        @if(RowData != null && RowTemplate != null)
        {
            @foreach (RowType item in RowData)
            {
                <tr>@RowTemplate(item)</tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment<RowType>? RowTemplate { get; set; }

    [Parameter]
    public IEnumerable<RowType>? RowData { get; set; }
}
