@page "/pages/form/{id:long?}"
@model FormHandlerModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore

<div class="m-2">
    <h5 class="bg-primary text-white text-center m-2">HTML Form</h5>
    <form asp-page="FormHandler" method="post" id="htmlform">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" asp-for="Product.Name" name="name"/>
        </div>
        <div class="form-group">
        <label>Price</label>
            <input class="form-control" asp-for="Product.Price" name="price"/>
        </div>
        <button class="btn btn-primary m-2" type="submit">Submit</button>
    </form>
</div>

@functions {
    public sealed class FormHandlerModel : PageModel
    {
        private readonly DataContext _context;

        public Product? Product { get; set; }

        public FormHandlerModel(DataContext dataContext)
        {
            _context = dataContext;
        }

        public async Task OnGetAsync(long id)
        {
            Product = await _context.Products
            .Include(p => p.Category)
            .Include(p => p.Supplier)
            .FirstOrDefaultAsync(p => p.ProductId == id);
        }

        public IActionResult OnPost(string name, decimal price)
        {
            TempData["name param"] = name;
            TempData["price param"] = price.ToString();
            return RedirectToPage("FormResults");
        }
    }
}