@page "/noid"
@model NotFoundModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using WebApp.Models;

<!DOCTYPE html>
<html>
<head>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Not Found</title>
</head>
<body>
    <div class="bg-primary text-white text-center m-2 p-2">No Matching ID</div>
    <ul class="list-group m-2">
        @foreach (Product product in Model.Products)
        {
            <li class="list-group-item">@product.Name (ID: @product.ProductId)</li>
        }
    </ul>
</body>
</html>

@functions
{
    public sealed class NotFoundModel : PageModel
    {
        private readonly DataContext _context;

        public IEnumerable<Product> Products { get; set; } = Enumerable.Empty<Product>();

        public NotFoundModel(DataContext dataContext)
        {
            _context = dataContext;
        }

        public void OnGetAnsync(long id = 1)
        {
            Products = _context.Products;
        }
    }
}